/* Default styles */
body {
    background-color: #ADD8E6;
}

section {
    margin: 20px 0;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    section {
        display: flex;
        justify-content: center;
    }
    
    div {
        width: 50%; /* Adjust the width as needed */
        margin: 0 auto;
    }

    div > div {
        background-color: #CCC;
        padding: 0 96px;
    }

    section > div {
        width: 100%;
    }
}

/* Mobile styles */
@media screen and (max-width: 767px) {
    div > div {
        padding: 0 20px;
    }

    h2, h1 {
        font-size: 18px;
    }
}
